@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Home.cshtml";
}

    <!-- custom css -->
    <link rel="stylesheet" href="css/templatemo-style.css">
    <!-- start navigation -->
    <nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <img style="    height: 45px;
    width: 45px;
    border-radius: 50px;
    margin-top: 10px;" src="~/images/Untitled-3.png" />
                <a href="#" class="navbar-brand" style="    position: relative;
    top: 15px;     color: #28a7e9 !important;">KeyPhase</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right text-uppercase" style="    margin-right: 50px !important;">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#feature">Features</a></li>
                    @*<li><a href="#pricing">Pricing</a></li>*@
                    <li><a href="http://www.keyphase.net/login">Login</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <div class=" hidden-xs" style="
       background: #28a7e9;
       position: absolute;
       right: 20px;
       top: 17px;
       height: 35px;
       width: 100px;
       cursor: pointer;
" data-bind="click:login">
                    <span class="lnr lnr-enter" style="
    font-size: 25px;
    line-height: 35px;
    padding: 0px 5px 0px 10px;
"></span><div style="
    display: inline-block;
    padding: 0px 0px 0px 5px;
    position: relative;
    bottom: 7px;
">Login</div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
    <!-- start home -->
    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
                        <h1 class="text-upper">KeyPhase Landing Page</h1>
                        <p class="tm-white">brief information about the application and what its features are. brief information about the application and what its features are.  brief information about the application and what its features are.  brief information about the application and what its features are.  brief information about the application and what its features are.</p>
                        <img src="images/software-img.png" class="img-responsive" alt="home img">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- start divider -->
    <section id="divider">
        <div class="container">
            <div class="row" style="color: #525252;">
                <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                    <i class="material-icons">comment</i>
                    <h3 class="text-uppercase">SOME FEATURE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                </div>
                <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                    <i class="fa fa-twitter"></i>
                    <h3 class="text-uppercase">ANOTHER FEATURE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                </div>
                <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                    <i class="fa fa-font"></i>
                    <h3 class="text-uppercase">AND ANOTHER ONE HERE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end divider -->
    <!-- start feature -->
    <section id="feature">
        <div class="container">
            <div class="row" style="color: #525252;">
                <div class="col-md-6">
                    <h2 class="text-uppercase">KeyPhase Software Features</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p><span><i class="fa fa-mobile"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p><i class="fa fa-code"></i>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
                </div>
                <div class="col-md-6">
                    <img src="images/software-img.png" class="img-responsive" alt="feature img">
                </div>
            </div>
        </div>
    </section>
    <!-- end feature -->

    <!-- start contact -->
    <section id="contact">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-uppercase">Contact Us</h2>
                        <p>Interested in finding more about KeyPhase? Get in touch.</p>
                        <address>
                            <p><i class="fa fa-map-marker"></i>28 Pentland Avenue, Billingham, UK</p>
                            <p><i class="fa fa-phone"></i>01642 123456</p>
                            <p><i class="fa fa-envelope-o"></i>enquiries@keyphase.net</p>
                        </address>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-form">
                            <form action="#" method="post">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                                </div>
                                <div class="col-md-8">
                                    <input type="submit" class="form-control text-uppercase" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact -->
    <!-- start footer -->