@{
    Layout = "~/Views/Shared/_KP.cshtml";
}
<link href="~/css/kp.css" rel="stylesheet" />
<div class="container-fluid kp">
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="kp-logo" src="~/images/Untitled-3.png" />
                <a asp-area="" class="navbar-brand">KeyPhase</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a data-bind="click: updateUI">Dashboard</a></li>
                    <li><a data-bind="click: updateUI">Projects</a></li>
                    <li><a data-bind="click: updateUI">Workload</a></li>
                    <li><a data-bind="click: updateUI">Reports</a></li>
                    <li><a data-bind="click: updateUI">Stream</a></li>
                </ul>
                <div class="hidden-xs kp-profile">
                    <div class="kp-profile-icon">DD</div>
                    <div class="kp-profile-name">Dean</div>
                </div>
            </div>
        </nav>
    </div>


    <div data-bind="fadeVisible: contentLoading" class="contentLoader">
        <div class="contentLoader-container">
            <div class="contentLoader-container-fixed">
                <div class="contentLoader-container-spinner">
                    <div class="loader contentloader-spinner"></div><img class="contentLoader-logo" src="/images/Untitled-3.png">
                </div>
            </div>
        </div>
    </div>


    <!--ko if: currentPage() == 'projects'-->
    <!--ko ifnot: contentLoading-->
    <div class="row contentArea ca ca-dash">
        @*dash-sidebar*@
        <div class="col-xs-2 nopadding projSidebar">
            <span class="lnr lnr-chevron-left projSidebar-chevron" data-bind="click: dashSideSlide"></span>
            <div class="proj-sidebar-content dashSidebarContent">
                <div class="row MTop15">
                    <div class="col-xs-12">
                        <span class="lnr lnr-funnel projSidebar-filterIcon"></span>
                        <input type="text" name="projFilter" placeholder="Filter" class="project-filter">
                    </div>
                </div>
                <div class="row MTop15">
                    <div class="col-xs-11 nopadding projSiderbar-header">
                        <span class="projSiderbar-headerTitle">Projects</span>
                        <span class="lnr lnr-plus-circle projectSidebar-headerAdd"></span>
                    </div>
                    <!-- ko foreach: { data: userProjects(), as: 'userProjects' } -->
                    <div class="col-xs-11 nopadding project-title">
                        <span class="projSidebar-itemName" data-bind="text: userProjects.Name, click: $root.loadProjectData"></span>
                        <span class="lnr lnr-star-empty project-fav"></span>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="col-xs-2 ca ca-dash-spacer"></div>
        <div class="col-xs-10 ca ca-dash-content" style="
    top: 0px;
    height: 100%;
    border-right: #3a4258;
    border-right-width: 1px;
    border-right-style: solid;
    overflow: auto;">
            <div class="row" style="
    height: 51px;
">cvbnvn</div>

            <!--ko with: projectOverview()-->
            <div class="row proj-overview">
                <!-- ko foreach: { data: $data.ProjectPhases, as: 'p' } -->
                <div class="tester projPhase">
                    <div style="cursor: pointer;" data-bind="text: p.Name">
                    </div>
                    <!-- ko foreach: { data: p.Projects, as: 'projects' } -->
                    <div class="tasktest projPhase-item" data-bind="text: projects.Name"></div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->

            <!--ko with: currentProject()-->
            <div class="row proj-detailed">
                <!-- ko foreach: { data: $data.PhaseTasks, as: 's' } -->
                <div class="tester projPhase">
                    <div style="cursor: pointer;" data-bind="text: s.Name">
                    </div>
                    <!-- ko foreach: { data: s.Tasks, as: 'tasks' } -->
                    <div class="tasktest projPhase-item" data-bind="text: tasks.Name"></div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!--/ko-->
    <!--/ko-->

    <!--ko if: currentPage() == 'dashboard' -->
    <div class="row contentArea ca ca-dash" style="    background-color: #1b1e23;
    height: 100%;">
        @*dash-sidebar*@
        <div class="col-xs-2 ca ca-dash-spacer"></div>
        <div class="col-xs-10 ca ca-dash-content" style="
    top: 0px;
    height: 100%;
    border-right: #3a4258;
    border-right-width: 1px;
    border-right-style: solid;
    overflow: auto;">
            <div class="row" style="
    height: 52px;
">cvbnvn</div>

            <div class="row">
            </div>
        </div>

    </div>
    <!--/ko-->
</div>
<div id="kploader" class="kp-loader">

    <div class="kp-loader-container">
        <div class="loader kp-loader-spinner"></div><img class="kp-loader-logo" src="/images/Untitled-3.png">
    </div>
</div>